<div class="profile row">
<!-- COLUMN LEFT -->
  <div class="col-md-4 avatar">
    <div class="wrapper">
      <img src="https://scontent.fsgn2-1.fna.fbcdn.net/v/t1.0-9/30709686_975554745941884_7701712407176937472_o.jpg?_nc_cat=111&_nc_ht=scontent.fsgn2-1.fna&oh=1ad595dbd75c1973f8e4b4f921247194&oe=5CAAEC7E">
    </div>
  </div>
<!-- COLUMN RIGHT -->
  <div class="col-md-8 basic-info">
    <div class="user-wrapper">
      <h2 class="username"> <%= current_user.username %> </h2>
      <a class="edit-profile" href="<%= edit_user_path(current_user) %>">
        <button>Edit Profile</button>
      </a>
    </div>

    <ul class="posts">
      <li><span><%= @posts.count %></span> posts</li>
    </ul>

    <h2 class="name"> <%= current_user.name %> </h2>
    <%= link_to current_user.website, current_user.website, class: 'website' %>
  </div>
</div>

<!-- POSTS OF USER -->
<div class="user-tabs">
  <a class="tab active" href="">
    <i class="fa fa-th"></i>
    POSTS
  </a>
  <a class="tab" href="">
    <i class="fa fa-tv"></i>
    IGTV
  </a>
  <a class="tab" href="">
    <i class="fa fa-bookmark"></i>
    SAVED
  </a>
  <a class="tab" href="">
    <i class="fa fa-tag"></i>
    TAGGED
  </a>
</div>

<div class="user-images">
  <% @posts.each do |post|%>
    <div class="wrapper">
      <%=image_tag post.image %>
    </div>
  <% end %>
</div>